[submodule "a3b4a6bb92a8e4b9fd487e77f2aa8b64"]
	path = a3b4a6bb92a8e4b9fd487e77f2aa8b64
	url = https://gist.github.com/a3b4a6bb92a8e4b9fd487e77f2aa8b64.git
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/jayka/jayemacs.git
